extends layout

block content
    h1(class="siteTitle") Words Search
    p(class="homeRules") Règles basiques.
        br
        | Une grille constituée de lettres.
        br
        | Une liste de mots à trouver sera mise à disposition.
        br
        | Relier les lettres pour former un mot.
    a(class="playButton", href="/gamesettings")
        img(src="/icons/play.png", alt="Bouton jouer")
    div(class="scoresTopThree")
        div(id="easy", class="easyTab")
            a(href="#easy") Facile
            div(class="difficultyScores")
                each user in usersListEasySorted
                    if !userLogs
                        div
                            p= user.username
                                |  : 
                                span(class="userScore")
                                    if user.easyScore
                                        | #{user.easyScore}
                                    else
                                        | ??
                    if userLogs
                        if user.username == userLogs.username
                            div(class="loggedUsername")
                                p= user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.easyScore
                                            | #{user.easyScore}
                                        else
                                            | ??
                        else
                            div
                                p= user.username
                                    |  : 
                                    span(class="userScore")
                                        if user.easyScore
                                            | #{user.easyScore}
                                        else
                                            | ??
        div(id="medium", class="mediumTab")
            a(href="#medium") Moyen
            div(class="difficultyScores")
                each user in usersListMediumSorted
                    if !userLogs
                        div
                            p= user.username
                                |  : 
                                span(class="userScore")
                                    if user.mediumScore
                                        | #{user.mediumScore}
                                    else
                                        | ??
                    if userLogs
                        if user.username == userLogs.username
                            div(class="loggedUsername")
                                p= user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.mediumScore
                                            | #{user.mediumScore}
                                        else
                                            | ??
                        else
                            div
                                p= user.username
                                    |  : 
                                    span(class="userScore")
                                        if user.mediumScore
                                            | #{user.mediumScore}
                                        else
                                            | ??
        div(id="hard", class="hardTab")
            a(href="#hard") Difficile
            div(class="difficultyScores")
                each user in usersListHardSorted
                    if !userLogs
                        div
                            p= user.username
                                |  : 
                                span(class="userScore")
                                    if user.hardScore
                                        | #{user.hardScore}
                                    else
                                        | ??
                    if userLogs
                        if user.username == userLogs.username
                            div(class="loggedUsername")
                                p= user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.hardScore
                                            | #{user.hardScore}
                                        else
                                            | ??
                        else
                            div
                                p= user.username
                                    |  : 
                                    span(class="userScore")
                                        if user.hardScore
                                            | #{user.hardScore}
                                        else
                                            | ??
        if userLogs
            div(id="personnalScores", class="personnalTab")
                a(href="#personnalScores") Mes Scores
                div(class="difficultyScores")
                    each user in usersListEasySorted || usersListMediumSorted || usersListHardSorted
                        if user.username == userLogs.username
                            div(class="loggedUsername")
                                p= "[ Facile ] " + user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.easyScore
                                            | #{user.easyScore}
                                        else
                                            | ??
                            div(class="loggedUsername")
                                p= "[ Moyen ] " +  user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.mediumScore
                                            | #{user.mediumScore}
                                        else
                                            | ??
                            div(class="loggedUsername")
                                p= "[ Difficile ] " +  user.username
                                    |  : 
                                    span(class="loggedUserScore")
                                        if user.hardScore
                                            | #{user.hardScore}
                                        else
                                            | ??